/Conditional_statement_switch_case/nbproject/private/
/Conditional_statement_switch_case/build/
/Conditional_statement_switch_case/dist/
/Assignment/build/
/Assignment/nbproject/private/
/Assignment2_/build/
/Assignment2_/nbproject/private/
/Assignment2_conditional_statements/build/
/Assignment2_conditional_statements/nbproject/private/
/SignUp/build/
/SignUp/nbproject/private/
/SignUp_if_else/build/
/SignUp_if_else/nbproject/private/
/Ascii_table/dist/
/Loops/nbproject/private/
/Loops/build/
/Loops/dist/
/Assignment3_loops/nbproject/private/
/Assignment3_loops/build/
/Assignment 4(loop)/nbproject/private/
/Assignment 4(loop)/build/
/JavaApplication17/nbproject/private/
/JavaApplication17/build/
/while_loops/nbproject/private/
/while_loops/build/
/while_loops/dist/
/prime_numbers/nbproject/private/
/prime_numbers/build/
/Assignment1_conditional_statements/dist/
/Assignment3_loops/dist/
/Assignment 4(loop)/dist/
/prime_numbers/dist/
/task_java/nbproject/private/
/task_java/build/
/nested_loop/nbproject/private/
/nested_loop/build/
/nested_loop/dist/
/Java_Assignment(nested loop)/nbproject/private/
/Java_Assignment(nested loop)/build/
/JavaApplication23/nbproject/private/
/JavaApplication23/build/
/Array/build/
/Islamic_Calculator/nbproject/private/
/Islamic_Calculator/build/
/Arraytask/nbproject/private/
/Arraytask/build/
/Arraytask/dist/
/Encapsulation/nbproject/private/
/Encapsulation/build/
/Programs/nbproject/private/
/Programs/build/
/constructor_classes/nbproject/private/
/constructor_classes/build/
/Java_variables/nbproject/private/
/Java_variables/build/
/Nestedpractice/nbproject/private/
/Nestedpractice/build/
/Variables_class/dist/
/Nestedpractice/dist/
/Marksheet/nbproject/private/
/Marksheet/build/
/Marksheet/dist/
/Programs/dist/
/constructor_classes/dist/
/AgeCalculator/nbproject/private/
/AgeCalculator/build/